
<h1>Usuarios</h1>
  <% @users= User.all %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Rol</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users do |user| %>
      <tr>
     
        <td><%= user.email %></td>
        <td><%= user.role %></td>
       
        <!--<td><%= link_to 'Destroy', zombie2, method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert" %></td>-->
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role === "subscriber"%>
      <%else%>
 <%= link_to 'New Zombie', new_zombie2_path, class:"button success" %>
      <%end%>



