<%= form_for(zombie2) do |f| %>
  <% if zombie2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie2.errors.count, "error") %> prohibited this zombie2 from being saved:</h2>

      <ul>
      <% zombie2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :Avatar %>
  <%= f.file_field :Avatar %>
<div class="row">
  <div class="medium-6 columns">
    <div class="row">
      <div class="medium-6 columns">
        <div class="field">
         <%= f.label :name %>
         <%= f.text_field :name %>
        </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

</div>
<div class="row">
      <div class="medium-6 columns">
        <div class="field">
        <%= f.label :age %>
        <%= f.number_field :age %>
       </div>

 <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>
</div>
</div>
  <div class="field">
    <%= f.label :rotten %>
    <%= f.check_box :rotten %>
  </div>

    <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
