

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
    <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografía</th>
      <th>Edad</th>
      <th>Email</th>
      <th>¿Podrido?</th>
      <th>Dueño</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if current_user.role === "contributor"%>
<% @rotten_zombie = Zombie2.where(user_id: current_user.id)%>
<%else%>
<% @rotten_zombie = Zombie2.all %>
<%end%>

  <tbody>
    <% @rotten_zombie.each do |zombie2| %>
      <tr>
      <td> <%= image_tag(zombie2.Avatar, :width => 65, :height => 75) %></td>
        <td><%= zombie2.name %></td>
        <td><%= zombie2.bio %></td>
        <td><%= zombie2.age %></td>
        <td><%= zombie2.email %></td> 
        <td><%= zombie2.rotten ? "yes": "no"%></td>
         <td><%= zombie2.user_id ? User.where(id: zombie2.user_id) [0].email : "No tiene dueño" %></td> 
         <% if current_user.role === "editor"%>
        <td><%= link_to 'Show', zombie2, class: "button" %></td>
        <td><%= link_to 'Edit', edit_zombie2_path(zombie2), class: "button" %></td>
        <td><%= link_to 'Destroy', zombie2, method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert" %></td>
        <% elsif current_user.role === "contributor"%>
        <td><%= link_to 'Show', zombie2, class: "button" %></td>
        <td><%= link_to 'Edit', edit_zombie2_path(zombie2), class: "button" %></td>
        <%else%>
        <td><%= link_to 'Show', zombie2, class: "button" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role === "subscriber"%>
      <%else%>
 <%= link_to 'New Zombie', new_zombie2_path, class:"button success" %>
      <%end%>



