
<div class="row">
  <div class="medium-6 columns">
    <div class="row">
      <div class="medium-6 columns">
<%= image_tag @zombie2.Avatar, :width => 200, :height => 200 %>
</div>
<p>
  <strong>Nombre:</strong>
  <%= @zombie2.name %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @zombie2.bio %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @zombie2.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zombie2.email %>
</p>

<p>
  <strong>Podrido:</strong>
  <%= @zombie2.rotten %>
</p>

</div>
</div>
</div>
<table>
<thead>
    <tr>
      <th width=25%>Flavor</th>
      <th width=25%>Iq</th>
      <th width=25%>Fresh</th>
      <th width=25%>Agregado</th>
      <th colspan="3"></th>
    </tr>   
  </thead>
</table>  

<div id="brains">
<%=render :partial => @zombie2.brains.reverse%>
</div>
<% if current_user.role === "subscriber"%>
      <%else%>
      <%= form_for([@zombie2, Brain.new], remote: true)do |f|%>
<div class="field">
<%= f.label :flavor%>
<%= f.text_field :flavor%>
</div>

<div class="field">
<%= f.label :iq%>
<%= f.number_field :iq%>
</div>

<div class="field">
<%= f.label :fresh%>
<%= f.check_box :fresh%>
</div>

<div class="actions">
<%= f.submit "Add brain", class: "button"%>
</div>
      <%end%>


<%end%>

<%= link_to 'Edit', edit_zombie2_path(@zombie2) , class: "button"%> |
<%= link_to 'Back', zombie2s_path , class: "button"%>
