
<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Rol</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
     
        <td><%= user.email %></td>
        <td><%= user.role %></td>
  
     
      </tr>
    <% end %>
  </tbody>
</table>




